@charset "UTF-8";


@media screen and (max-width: 770px) {

    header, header nav{
        flex-flow: column nowrap;
    }

    header h1 {
        flex-basis: 60px;
    }

    header nav a {
        width: 90vw;
    }

    main {
        width: 100vw;
        margin-top: 10px;
        padding: 10px;
    }
}