@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f2ebdc;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
    max-width: 800px;
}

header h1 {
    text-align: center;
    color: #8C2A32;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

main {
    background-color: #f0e0c0;
    border-radius: 8px;
    padding: 10px;
    font-size: large;
    text-decoration: none;
    text-indent: 20px;
    line-height: 1.8em;
}

p {
    color: #260F01;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#final {
    color: #732C2C;
}