@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F2EBDC;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
    max-width: 800px;
}

header h1 {
    text-align: center;
    color: #8C2A32;
}

main {
    padding-top: 10px;
    font-size: large;
    text-decoration: underline;
    text-indent: 20px;
    line-height: 1.8em;
}

p {
    color: #260F01;
    padding-top: 10px;
}

#final {
    color: #732C2C;
}